<%= form_with scope: :session, url: login_path do |form| %>
  <div class="relative mb-6">
    <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= form.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: :email %>
  </div>
  <div class="relative mb-6">
    <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900" %>
    <%= form.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: :password %>
  </div>
  <%= form.submit "Login", class: "text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
<% end %>
