<article id="<%= dom_id article %>" class="mb-5 format lg:format-lg dark:format-invert">
  <h1 class="text-center sm:text-left <%= trunc ? "text-3xl md:text-3xl lg:text-3xl" : "text-5xl md:text-5xl lg:text-5xl" %> mb-4 font-extrabold tracking-tight leading-none text-gray-900 "><%= article.title %></h1>
  <p class="lead"><%= trunc ? article.description.truncate(300) : simple_format(article.description) %></p>
  <p class="mt-3">written by
    <span class="italic font-bold"><%= link_to article.user.username, user_path(article.user), class: "hover:underline hover:text-blue-600" %> </span>
    <%= time_ago_in_words article.created_at %>
  </p>
</article>
