<p style="color: green"><%= notice %></p>
<%= render @article, trunc: false %>
<div class="inline-flex rounded-md shadow-sm" role="group">
  <%= link_to "Edit this article", edit_article_path(@article), class: "px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-l-lg hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white" %>
  <%= link_to "Back to articles", articles_path, class: "px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border-t border-b border-gray-900 hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white" %>
  <%= button_to "Destroy this article", @article, method: :delete, class: "px-4 py-2 text-sm font-medium text-gray-900 bg-transparent border border-gray-900 rounded-r-md hover:bg-gray-900 hover:text-white focus:z-10 focus:ring-2 focus:ring-gray-500 focus:bg-gray-900 focus:text-white" %>
</div>
