<%= form_with(model: @user) do |form| %>
  <div class="relative mb-6">
    <%= form.label :username, class: "block mb-2 text-sm font-medium text-gray-900
      #{'text-red-600' if @user.errors.messages[:username].any? }" %>
    <%= form.text_field :username, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      #{'border-red-600' if @user.errors.messages[:username].any? }", placeholder: :username %>
    <% if @user.errors.messages[:username].any? %>
      <%= render 'layouts/input_errors', errors: @user.errors.messages[:username] %>
    <% end %>
  </div>
  <div class="relative mb-6">
    <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900 #{'text-red-600' if @user.errors.messages[:email].any? }" %>
    <%= form.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      #{'border-red-600' if @user.errors.messages[:email].any? }", placeholder: :email %>
    <% if @user.errors.messages[:email].any? %>
      <%= render 'layouts/input_errors', errors: @user.errors.messages[:email] %>
    <% end %>
  </div>
  <% if !@user.new_record? %>
    <div class="mb-6">
      <%= form.label :image, class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= form.text_field :image, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", placeholder: :image %>
    </div>
  <% end %>
  <div class="relative mb-6">
    <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900 #{'text-red-600' if @user.errors.messages[:password].any? }" %>
    <%= form.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5
      #{'border-red-600' if @user.errors.messages[:password].any? }", placeholder: :password %>
    <% if @user.errors.messages[:password].any? %>
      <%= render 'layouts/input_errors', errors: @user.errors.messages[:password] %>
    <% end %>
  </div>
  <%= form.submit(@user.new_record?  ? "Register" : "Save changes", class: "text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2") %>
<% end %>
