<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-center text-gray-900 md:text-5xl lg:text-6xl"><%= @user.username %></h1>
<%= render 'image' %>
<p class="mx-auto mt-8 text-2xl font-bold text-center text-gray-900"><%= pluralize(@articles.count, 'Article') %></p>
<div id="articles" class="mt-12">
  <% @articles.each do |article| %>
    <%= render article, trunc: true %>
    <p>
      <%= link_to "Read more...", article, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
    </p>
    <hr class="h-px my-12 bg-transparent border-t-0 opacity-25 bg-gradient-to-r from-transparent via-neutral-500 to-transparent dark:opacity-100" />
  <% end %>
</div>
