<h1 class="mb-2 text-4xl font-extrabold leading-none tracking-tight text-center text-gray-900 md:text-4xl lg:text-5xl">
  <%= @category.name %>
</h1>
<h3 class="mb-3 text-xl text-center text-slate-600"><%= pluralize(@category.articles.count, 'article')%></h3>
<% if logged_in? &&  current_user.admin? %>
  <div class="flex justify-center mb-8">
    <%= render 'buttons', category: @category%>
  </div>
<% end %>
<div>
  <% @articles.each do |article| %>
    <%= render 'articles/article', article: article, trunc: true %>
    <p>
      <%= link_to "Read more...", article, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
    </p>
    <hr class="h-px my-12 bg-transparent border-t-0 opacity-25 bg-gradient-to-r from-transparent via-neutral-500 to-transparent dark:opacity-100" />
  <% end %>
  <%= render 'layouts/pagination', entities: @articles %>
</div>
