<header class="mt-2 bg-white">
  <nav class="flex items-center justify-between p-6 pt-0 mx-auto max-w-7xl lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to root_path do %>
        <span class="sr-only">Your Company</span>
        <img class="w-auto h-12" src="https://miro.medium.com/v2/resize:fit:450/1*MtuURq-9Fe3MZM5IZqQgyw.png" alt="">
      <% end %>
    </div>
    <div class="md:flex lg:gap-x-12">
      <%= link_to "Home", root_path, class: "text-sm font-semibold leading-6 text-gray-900 hover:text-sky-700" %>
      <%= link_to "New article", new_article_path, class: "text-sm font-semibold leading-6 text-gray-900 hover:text-sky-700" %>
      <%= link_to "About", about_path, class: "text-sm font-semibold leading-6 text-gray-900 hover:text-sky-700" %>
    </div>
    <div class="md:flex lg:flex-1 lg:justify-end">
      <div class="relative inline-block text-left" data-controller="dropdown">
        <div>
          <button type="button" class="inline-flex w-full justify-center gap-x-1.5
          px-3 py-2 text-sm font-semibold text-gray-900 border-none hover:text-sky-700" id="menu-button" aria-expanded="true" aria-haspopup="true" data-action="click->dropdown#click">
            Options
            <svg class="w-5 h-5 -mr-1 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
        <div class="absolute right-0 z-10 invisible w-56 mt-2 origin-top-right bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" data-dropdown-target="item">
          <div class="py-1 pb-4" role="none">
            <%= link_to "Account settings", edit_user_path(current_user), class: "block px-4 py-2 text-sm text-gray-700 hover:text-sky-700" %>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:text-sky-700" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:text-sky-700" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
            <a href="#" class="px-4 text-sm font-bold text-gray-700 hover:text-sky-700">Log in <span aria-hidden="true">&rarr;</span></a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
